<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">
	
	<h2 class="border-bottom py-2" th:text="${board.title}"></h2>
		<div class = "card my-3">
			<div class="card-header d-flex justify-content-end-between">
				<div class="badge bg-light text-dark p-2 ms-auto">
					<span th:text="${#temporals.format(board.createDate, 'YYYY-MM-dd HH:mm')}"></span>
				</div>
			</div>
			
			<div class="card-body">
				<div class="card-text" th:utext="${board.content}"></div>
			</div>
					
		</div>
	
</div>
</html>